@charset "UTF-8";
:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --my-white: #ffffff;
  --accent-color: #2196f3;
  --background-dark-color: #2f303a;
  --main-bg: #f5f4fa;
  --logo-second-part: #000000;
  --social-logo: #afb1b8;
  --transition-value: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.main-item-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/*Убираем внешние и внутренние отступы*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  display: block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--my-white);
  color: var(--first-text-color);
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section.main-doing {
    padding-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background: var(--my-white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-value), visibility var(--transition-value);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 16px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__close-icone {
    transition: fill var(--transition-value);
  }
  .mobile-menu__close-icone:hover, .mobile-menu__close-icone:focus {
    fill: var(--accent-color);
  }
  .mobile-menu__menu-item {
    margin-bottom: 32px;
  }
  .mobile-menu__menu-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
    transition: color var(--transition-value);
  }
  .mobile-menu__menu-link:hover, .mobile-menu__menu-link:focus, .mobile-menu__menu-link.current {
    color: var(--accent-color);
  }
  .mobile-menu__contact {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .mobile-menu__contact-adress {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu__contact-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
  }
  .mobile-menu__social {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 64px;
    flex-wrap: wrap;
  }
  .mobile-menu__social-item-line {
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
  }
  .mobile-menu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 200px) {
  .title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    color: var(--first-text-color);
  }
  .title.marging-bottom {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.67;
  }
  .title.marging-bottom {
    margin-bottom: 50px;
  }
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-header {
  color: var(--logo-second-part);
}

.logo-footer {
  color: var(--my-white);
}

.social-flex {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--my-white);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: color var(--transition-value), background-color var(--transition-value);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* ==========Header шапка сайта (WebStudio, Студия, Портфолио, Контакты, email, tel) index.html========== */
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header-flex {
    flex-wrap: wrap;
  }
  .header-nav__first {
    display: none;
  }
  .header-contact {
    display: none;
  }
  .mobile-menu-open {
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .header {
    background: var(--my-white);
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ececec;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .header {
    background: var(--my-white);
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid #ececec;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-nav__first {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 88px;
  }
  .header-contact__icon {
    max-width: 14px;
    height: 14px;
    margin-right: 8px;
    fill: currentColor;
  }
  .header-contact__item {
    display: inline;
  }
  .header-contact__link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    transition: color var(--transition-value);
  }
  .header-contact__link:hover, .header-contact__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  .header-nav__item .header-nav__link {
    position: relative;
  }
  .header-nav__item > .current::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0px;
    background: var(--accent-color);
    border-radius: 2px;
  }
  .header-nav__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-value);
  }
  .header-nav__link:hover, .header-nav__link:focus, .header-nav__link.current {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .header-contact__icon {
    min-width: 16px;
    height: 16px;
    margin-right: 10px;
  }
  .header-contact__item {
    margin-right: 30px;
  }
  .header-contact__link {
    font-size: 14px;
    line-height: 1.143;
  }
}
/* ==========Hero. Баннер, кнопка index.html========== */
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin: 0 auto;
  color: var(--my-white);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  align-items: center;
  transition: background-color var(--transition-value);
}
.hero-btn:hover, .hero-btn:focus {
  background: #188ce8;
}

@media screen and (min-width: 200px) {
  .hero {
    max-width: 100%;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: #c4c4c4;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/480/jpg/hero-480.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 200px) and (min-device-pixel-ratio: 2) and (min-width: 480px), screen and (min-width: 200px) and (min-resolution: 192dpi) and (min-width: 480px), screen and (min-width: 200px) and (min-resolution: 2dppx) and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/480/jpg/hero-480@2x.jpg);
  }
}
@media screen and (min-width: 200px) {
  .hero-text {
    max-width: 360px;
    width: 100%;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--my-white);
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/768/jpg/hero-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/768/jpg/hero-768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/1200/jpg/hero-1200.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/1200/jpg/hero-1200@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-text {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.364;
  }
}
/* ==========Модальное окно (Hero. Баннер, кнопка)========== */
.hero-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background: var(--my-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.hero-modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-value), visibility var(--transition-value);
  z-index: 100;
}
.hero-modal-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hero-modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--my-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-btn-icon {
  transition: fill var(--transition-value);
}
.hero-modal-btn:hover .modal-close-btn-icon, .hero-modal-btn:focus .modal-close-btn-icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .hero-modal-backdrop {
    width: 100%;
    height: 100%;
  }
  .hero-modal {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .hero-modal {
    width: 528px;
  }
}
/* ++++++++++++++++++++Модальное окно. Форма++++++++++++++++ */
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field-message {
  margin-bottom: 0px;
}

.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--second-text-color);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-value);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  fill: var(--first-text-color);
  transition: fill var(--transition-value);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 10px 16px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color var(--transition-value);
}
.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-desc {
  display: flex;
  align-items: flex-end;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 30px;
  margin-top: 20px;
}
.modal-form-check-desc::before {
  display: inline-block;
  min-width: 16px;
  min-height: 15px;
  border: 1px solid var(--first-text-color);
  content: "";
  cursor: pointer;
  border-radius: 4px;
  margin-right: 9px;
}
.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--accent-color);
  background-image: url(../images/checkbox/icon-checkbox-on.svg);
  border: 0;
}

.policy-link {
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-btn {
  width: 200px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--my-white);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  align-items: center;
  transition: background-color var(--transition-value);
}
.modal-btn:hover, .modal-btn:focus {
  background: #188ce8;
}

@media screen and (min-width: 200px) {
  .modal-form-check-desc {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .modal-title {
    line-height: 1.15;
  }
  .modal-form-input-desc {
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form-check-desc {
    font-size: 14px;
    line-height: 1.714;
  }
}
/* ==========Наши основные особенности index.html========== */
.main-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--first-text-color);
  text-align: center;
}
.main-title.marging-bottom {
  margin-bottom: 10px;
}

.main-text {
  line-height: 1.71;
  color: var(--second-text-color);
}

.main-features {
  flex-basis: calc((100% - 0px) / 1);
}
.main-features::before {
  background: var(--main-bg);
  border-radius: 4px;
  display: block;
  content: "";
  width: auto;
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  margin-bottom: 30px;
}
.main-features:nth-child(1)::before {
  background-image: url(../images/key-features/antenna.svg);
}
.main-features:nth-child(2)::before {
  background-image: url(../images/key-features/clock.svg);
}
.main-features:nth-child(3)::before {
  background-image: url(../images/key-features/diagram.svg);
}
.main-features:nth-child(4)::before {
  background-image: url(../images/key-features/astronaut.svg);
}

@media screen and (min-width: 768px) {
  .main-features {
    flex-basis: calc((100% - 30px) / 2);
  }
  .main-title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .main-features {
    flex-basis: calc((100% - 90px) / 4);
  }
}
/* ==========Чем мы занимаемся index.html========== */
.main-doing__basis {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
  justify-content: center;
}

.list.marging-bottom {
  margin-bottom: 50px;
}

.main-doing__label {
  color: var(--my-white);
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .main-doing {
    display: none;
  }
}
/* ==========Наша команда index.html========== */
@media screen and (min-width: 200px) {
  .main-team-basis {
    flex-basis: calc((100% - 0px) / 1);
    background: var(--my-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .main-team-item {
    padding-top: 30px;
    padding-bottom: 24px;
    border-top: none;
  }
}
@media screen and (min-width: 768px) {
  .main-team-basis {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .main-team-basis {
    flex-basis: calc((100% - 90px) / 4);
  }
  .main-team-item {
    padding-bottom: 30px;
  }
}
.main-team {
  background: var(--main-bg);
}

.main-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--first-text-color);
}
.main-team-title.marging-bottom {
  margin-bottom: 10px;
}

.main-team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.main-team-social-item {
  color: var(--social-logo);
  background-color: var(--my-white);
  overflow: hidden;
}
.main-team-social-item:hover, .main-team-social-item:focus {
  color: var(--my-white);
  background-color: var(--accent-color);
}

/* ==========Постоянные клиенты index.html========== */
.clients-basis {
  flex-basis: calc((100% - 30px) / 2);
}

.clients-basis__link {
  width: 100%;
  height: 92px;
  border: 1px solid var(--social-logo);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--social-logo);
  transition: color var(--transition-value), border var(--transition-value);
}
.clients-basis__link:hover, .clients-basis__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-basis__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .clients-basis {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-basis {
    flex-basis: calc((100% - 150px) / 6);
  }
}
/* ==========Footer Подвал (адрес, почта, телефон) index.html==========  */
@media screen and (min-width: 200px) {
  .footer {
    background: var(--background-dark-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-logo {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-nav {
    margin-bottom: 60px;
  }
  .footer-nav__link {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-value);
  }
  .footer-nav__link:hover, .footer-nav__link:focus {
    color: var(--accent-color);
  }
  .footer-nav__item {
    text-align: center;
  }
  .footer-nav__item:not(:nth-child(3n)) {
    margin-bottom: 8px;
  }
  .footer-networks {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--my-white);
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-subscribe {
    margin-top: 60px;
  }
  .subscribe-input {
    padding: 15px;
    color: var(--my-white);
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-bottom: 20px;
    margin-right: 0;
  }
  input[placeholder=E-mail].subscribe-input {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--my-white);
  }
}
@media screen and (min-width: 768px) {
  .footer-all {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .footer-nav {
    margin-bottom: 0;
    margin-right: 165px;
  }
  .footer-wrapper {
    display: flex;
    align-items: baseline;
  }
  .subscribe-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-nav {
    margin-right: 90px;
  }
  .footer-nav__item {
    text-align: start;
  }
  .footer-nav__item:not(:nth-child(3n)) {
    margin-bottom: 9px;
  }
  .footer-logo {
    text-align: start;
  }
  .footer-networks {
    text-align: start;
  }
  .footer-form {
    display: flex;
    justify-content: center;
  }
  .footer-subscribe {
    margin-left: auto;
    margin-top: 0;
  }
  .subscribe-input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.footer-nav__address {
  line-height: 1.71;
  color: var(--my-white);
  transition: color var(--transition-value);
  display: block;
}
.footer-nav__address:hover, .footer-nav__address:focus {
  color: var(--accent-color);
}

.footer-social-item:hover, .footer-social-item:focus {
  color: var(--my-white);
  background-color: var(--accent-color);
}

button[type=submit].hero-btn {
  display: flex;
  padding: 10px 28px;
}

.subscribe-icon {
  fill: var(--my-white);
  margin-left: 10px;
}

/* ==========Фильтры на странице portfolio.html========== */
.main-item {
  flex-basis: calc((100% - 0px) / 1);
}

.main-filters {
  display: flex;
  gap: 8px;
  row-gap: 15px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.main-item-box__overlay-text {
  font-size: 18px;
  line-height: 1.55;
  color: var(--my-white);
  text-align: left;
  padding: 77px 24px;
  overflow: auto;
}

.main-filters__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  background: var(--main-bg);
  padding: 6px 22px;
  transition: box-shadow var(--transition-value), color var(--transition-value), background-color var(--transition-value);
}
.main-filters__btn:hover, .main-filters__btn:focus, .main-filters__btn.current {
  color: var(--my-white);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-item-border__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
  margin-bottom: 4px;
}

.main-item-border__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-text-color);
}

.main-item-border {
  background: var(--my-white);
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: none;
  flex-grow: 1;
}

.main-item__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--transition-value);
}
.main-item__link:hover, .main-item__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.main-item__link:hover .main-item-box__overlay, .main-item__link:focus .main-item-box__overlay {
  transform: translatey(0%);
}

.main-item-box {
  position: relative;
  overflow: hidden;
}

.main-item-box__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 0;
  margin: 0;
  transform: translatey(101%);
  transition: transform var(--transition-value);
}

@media screen and (min-width: 768px) {
  .main-item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .main-filters {
    justify-content: center;
    margin-bottom: 30px;
  }
  .main-item-box__overlay-text {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .main-item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .main-filters {
    margin-bottom: 50px;
  }
  .main-item-box__overlay-text {
    padding: 63px 24px;
  }
}/*# sourceMappingURL=main.css.map */