/* ==========Footer Подвал (адрес, почта, телефон) index.html==========  */
.footer {
	background: var(--background-dark-color);
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-nav {
	margin-right: 70px;
}

.footer-nav__item:not(:nth-child(3n)) {
	margin-bottom: 9px;
}

.footer-nav__address {
	line-height: 1.71;
	color: var(--my-white);

	transition: color var(--transition-value);

	display: block;
	width: 231px;

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.footer-nav__link {
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);

	transition: color var(--transition-value);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.footer-all {
	display: flex;
	align-items: baseline;
}

.footer-networks {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--my-white);
	margin-bottom: 20px;
}

.footer-social-item {
	&:hover,
	&:focus {
		color: var(--my-white);
		background-color: var(--accent-color);
	}
}

.main-team-social-item {
	color: var(--social-logo);
	background-color: var(--my-white);
	overflow: hidden;
}

.footer-subscribe {
	margin-left: auto;
}

.subscribe-input {
	margin-right: 12px;
	padding: 15px;
	color: var(--my-white);
	width: 358px;
	height: 50px;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

input[placeholder="E-mail"].subscribe-input {
	font-size: 16px;
	line-height: 1.25;

	display: flex;
	letter-spacing: 0.03em;
	color: var(--my-white);
}

button[type="submit"].hero-btn {
	display: flex;
	padding: 10px 28px;
}

.subscribe-icon {
	fill: var(--my-white);
	margin-left: 10px;
}
