/* ==========Модальное окно (Hero. Баннер, кнопка)========== */
.hero-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 450px;
	background: var(--my-white);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 40px;
}

.hero-modal-backdrop {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.2);
	transition: opacity var(--transition-value), visibility var(--transition-value);
	z-index: 100;

	&.is-hidden {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}

.hero-modal-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: var(--my-white);
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-btn-icon {
	transition: fill var(--transition-value);

	.hero-modal-btn:hover &,
	.hero-modal-btn:focus & {
		fill: var(--accent-color);
	}
}

// 0 - 479
@media screen and (max-width: 479px) {
	.hero-modal-backdrop {
		width: 100%;
		height: 100%;
	}

	.hero-modal {
		width: 300px;
	}
}

@media screen and (min-width: 768px) {
	.hero-modal {
		width: 528px;
	}
}
