/* ++++++++++++++++++++Модальное окно. Форма++++++++++++++++ */
.modal-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--first-text-color);
	margin-bottom: 12px;
}

.modal-form {
	display: flex;
	flex-direction: column;
}

.modal-form-field {
	margin-bottom: 10px;
}

.modal-form-field-message {
	margin-bottom: 0px;
}

.modal-form-input-desc {
	display: block;
	font-size: 12px;
	line-height: 1.167;
	letter-spacing: 0.01em;
	margin-bottom: 4px;
	color: var(--second-text-color);
}

.modal-form-input-wrapper {
	display: block;
	position: relative;
}

.modal-form-input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 42px;
	transition: border-color var(--transition-value);

	&:focus {
		outline: none;
		border-color: var(--accent-color);
	}
}

.modal-form-input-icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	display: block;
	width: 18px;
	height: 18px;
	fill: var(--first-text-color);
	transition: fill var(--transition-value);

	.modal-form-input:focus + & {
		fill: var(--accent-color);
	}
}

.modal-form-message {
	width: 100%;
	height: 120px;
	padding: 10px 16px;
	resize: none;
	border-radius: 4px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	transition: border-color var(--transition-value);

	&::placeholder {
		font-weight: 400;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.01em;
		color: rgba(117, 117, 117, 0.5);
	}

	&:focus {
		outline: none;
		border-color: var(--accent-color);
	}
}

.modal-form-check-desc {
	display: flex;
	align-items: flex-end;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.67;
	letter-spacing: 0.03em;
	color: var(--second-text-color);
	margin-bottom: 30px;
	margin-top: 20px;

	&::before {
		display: inline-block;
		min-width: 16px;
		min-height: 15px;

		border: 1px solid var(--first-text-color);
		content: "";
		cursor: pointer;
		border-radius: 4px;
		margin-right: 9px;
	}

	.modal-form-check:checked + &::before {
		background-color: var(--accent-color);
		background-image: url(../images/checkbox/icon-checkbox-on.svg);
		border: 0;
	}
}

.policy-link {
	text-decoration: underline;
	color: var(--accent-color);
}

.modal-btn {
	width: 200px;
	margin: 0 auto;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--my-white);
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	padding: 10px 52px;
	align-items: center;
	transition: background-color var(--transition-value);

	&:hover,
	&:focus {
		background: #188ce8;
	}
}

@media screen and (min-width: 200px) {
	.modal-form-check-desc {
		align-items: center;
		justify-content: center;
	}
}

@media screen and (min-width: 768px) {
	.modal-title {
		line-height: 1.15;
	}

	.modal-form-input-desc {
		line-height: 1.17;
	}
}

@media screen and (min-width: 1200px) {
	.modal-form-check-desc {
		font-size: 14px;
		line-height: 1.714;
	}
}
