/* ==========Чем мы занимаемся index.html========== */
.main-doing__basis {
	flex-basis: calc((100% - 60px) / 3);
	position: relative;
	justify-content: center;
}

.list.marging-bottom {
	margin-bottom: 50px;
}

.main-doing__label {
	color: var(--my-white);
	background: rgba(47, 48, 58, 0.8);
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

// 0 - 1199px
@media screen and (max-width: 1199px) {
	.main-doing {
		display: none;
	}
}
