@media screen and (min-width: 200px) {
	.title {
		font-weight: 700;
		font-size: 28px;
		line-height: 1.18;
		text-align: center;
		color: var(--first-text-color);

		&.marging-bottom {
			margin-bottom: 30px;
		}
	}
}

// 768 - max
@media screen and (min-width: 768px) {
}

// 1200 - max
@media screen and (min-width: 1200px) {
	.title {
		font-size: 36px;
		line-height: 1.67;

		&.marging-bottom {
			margin-bottom: 50px;
		}
	}
}
