:root {
	--first-text-color: #212121;
	--second-text-color: #757575;
	--my-white: #ffffff;
	--accent-color: #2196f3;
	--background-dark-color: #2f303a;
	--main-bg: #f5f4fa;
	--logo-second-part: #000000;
	--social-logo: #afb1b8;
	--transition-value: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
